nav {
  display: block;
}

.menu {
  /*display: block; -before*/
  display: flex;
}

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  font-weight: 600;
  font-size: 15px;
  text-align: left;
  color: #000;
  text-decoration: none;
  padding: 6px 16px;
  display: block;
  color: #000;
  transition: all 0.2s ease-in-out 0s;
  font-family: 'Poppins',sans-serif;
}

.menu li a:hover,.menu li:hover>a {
  color: #fff;
  background: #185589;
  border-radius: 40px;
  
}
.menu ul li a:hover, .menu ul li:hover>a {
  background: #185589;
  color: #fff;
  border-radius: unset;
}
.menu ul li ul li a:hover{
  color: #fff !important;
  background: #185589 !important;
  border-radius: unset;
}
.menu ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  position: absolute;
  left: 0px;
  background: #fff;
  z-index: 99;
  transform: translate(0,20px);
  transition: all 0.2s ease-out;
  box-shadow: 20px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.menu ul:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  font-size: 13px;
  font-weight: normal;
  display: block;
  color: #000;
  background: #fff;
  font-family: 'Poppins',sans-serif;
}

.menu ul li a:hover,.menu ul li:hover>a {
  background: #185589;
  color: #fff;
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}

.menu ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px,20px);
  transition: all 0.2s ease-out;
}

.menu ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;


}

.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0,0);
}

.responsive-menu {
  display: none;
  width: 100%;
  padding: 20px 15px;
 /* background: #374147;*/
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu:hover {
  background: #374147;
  color: #fff;
  text-decoration: none;
}

a.homer {
  background: #20242d;
}

@media (min-width: 768px) and (max-width: 979px) {
  .mainWrap {
      width: 768px;
  }

  .menu ul {
      top: 37px;
  }

  .menu li a {
      font-size: 12px;
  }

  
}

@media (max-width: 767px) {
  .mainWrap {
      width: auto;
      padding: 50px 20px;
  }

  .menu {
      display: none;
  }

  .responsive-menu {
  display: block;
  position: absolute;
  right: 0px;
  z-index: 111;
  top: 7px;
width: 50px;
  background: #f0f8ff00 !important;
  }

  nav {
      margin: 0;
      background: none;
  }

  .menu li {
      display: block;
      margin: 0;
  }

  .menu li a {
      background: #fff;
      color: #797979;
  }

  .menu li a:hover,.menu li:hover>a {
      background: #185589;
      color: #fff;
  }

  .menu ul {
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      transform: initial;
  }

  .menu li:hover>ul {
      visibility: visible;
      opacity: 1;
      position: relative;
      transform: initial;
  }

  .menu ul ul {
      left: 0;
      transform: initial;
  }

  .menu li>ul ul:hover {
      transform: initial;
  }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1023px)  { 
   .mainWrap {
      width: auto;
      padding: 50px 20px;
  }

  .menu {
      display: none;
  }

  .responsive-menu {
      display: block;
      text-align: right;
      position: absolute;
      top: -46px;
      background: #f0f8ff00 !important;
      right: auto;
      left: 94%;
  }
.responsive-menu:hover{
 background: #37414700;
  color: #fff;
  text-decoration: none; 
}
.md-p-0{
  padding: 0px !important;
}
  nav {
      margin: 0;
      background: none;
  }

  .menu li {
      display: block;
      margin: 0;
  }

  .menu li a {
      background: #fff;
      color: #797979;
  }

  .menu li a:hover,.menu li:hover>a {
      background: #20242d;
      color: #fff;
  }

  .menu ul {
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      transform: initial;
  }

  .menu li:hover>ul {
      visibility: visible;
      opacity: 1;
      position: relative;
      transform: initial;
  }

  .menu ul ul {
      left: 0;
      transform: initial;
  }

  .menu li>ul ul:hover {
      transform: initial;
  }   
}
@media (max-width: 480px) {
}

@media (max-width: 320px) {
}